* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  position: absolute;
  z-index: 3;
  width: 100%;
}
.logo {
  color: aliceblue;
  margin-left: 20px;
  margin-right: auto;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(24, 23, 23);
}
.navlist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2%;
  list-style: none;
}
.navlist a {
  text-decoration: none;
  color: aliceblue;
}
.icons {
  color: aliceblue;
  margin-left: auto;
  margin-right: 20px;
}

.first {
  background-color: rgb(24, 23, 23);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  gap: 10%;
}

.text h1 {
  color: #bc9a6c;
  font-family: "Andada Pro";
}
.text p {
  color: aliceblue;
}
.button {
  margin-top: 100px;
}
.button button {
  border-radius: 0;
  border: 2px solid #bc9a6c;
}
.btn-primary {
  background-color: #bc9a6c;
  color: aliceblue;
}
.btn-outline-primary {
  color: aliceblue;
}
.first .right img {
  height: 35vw;
  width: 30vw;
}
.bc {
  height: 100%;
  width: 100%;
  position: absolute;
}
.first .left {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 0;
  width: 20%;
  min-height: 100vh;
}
.second {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  margin: 50px 200px 100px 200px;
}
.second .upper {
  justify-content: center;
  margin-right: auto;
  text-align: center;
}
.lower {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12%;
}
.imgcap {
  display: flex;
  flex-direction: row;
}
.third {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  flex-direction: column;
}
.third .down {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;

  gap: 4%;
  width: 100%;
  margin-top: 50px;
}
.third .down img {
  width: 18vw;
  height: 50vh;
}
.fourth {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  flex-direction: row;
  color: aliceblue;
  margin: 50px 150px 100px 150px;
}

.fourth .left {
  width: 35vw;
  height: 80vh;
  background-image: url(../image/grain.png);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.left p {
  padding-bottom: 20px;
}

.fourth .right img {
  width: 35vw;
  height: 80vh;
}

.fivth {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  flex-direction: column;
  margin: 50px 150px 100px 150px;
}
.sixth {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px 150px 100px 150px;
  -webkit-box-shadow: 0px 0px 42px -22px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 42px -22px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 42px -22px rgba(0, 0, 0, 0.75);
  gap: 2%;
  height: 20vh;
  padding: 20px;
}

.sixth .btn-outline-secondary {
  background-color: #bc9a6c;
  border-radius: 0;
}
.input {
  border-radius: 0px;
}

footer {
  text-align: center;
  background-color: #bc9a6c;
  height: 40px;
}

@media (max-width: 1100px) {
}
@media (max-width: 700px) {
}
@media (max-width: 400px) {
  .navlist.icons {
    display: none;
  }
  .first {
    font-size: clamp(1rem, 2.5vw, 2rem);
    display: flex;
    flex-direction: column;
  }
}
